<h1>Productos en tiempo real</h1>
<ul id="product-list"></ul>

<h2>Agregar producto a la lista</h2>
<form id="product-form">
    <input type="text" id="title" placeholder="Titulo" required>
    <input type="numer" id="price" placeholder="Precio" required>
    <button type="submit">Agregar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>